<!DOCTYPE html>
<html>
<head>
  <title>Solobit invoicing</title>
  <script src="http://code.jquery.com/jquery-1.7.1.js" type="text/javascript"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
</head>
<body ng:app="jqanim" ng:controller="InvoiceController" >
  <div id="css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
  </div>
<div class="container" width="800px" id="invoice" >
  <!--<a ng-hide="printMode" href="https://github.com/metaware/angular-invoicing">
  <img ng-hide="printMode" style="position: absolute; top: 0; left: 0; border: 0;"
  src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png"
  alt="Fork me on GitHub"></a>-->
  <table class="table">
    <tr>
      <td align="center" class="rekening-kop" colspan="2">
        Faktuur
      </td>
    </tr>
    <tr>
      <td>
        <h4>Ons kenmerk: <input type="text" id="invoice_number" ng-model="invoice.invoice_number" /></h4>
        <p>Datum aanmaak: <input type="text" id="invoice_date" ng-model="invoice.invoice_date" /></p>
      </td>
      <td align="right">
        <input type="file" id="imgInp" />
        <img ng-hide="logoRemoved" id="company_logo" src="{{ logo }}"
        alt="Solobit ICT Dienstverlening" width="140" heigh="140" />
        <br/>
        <div class="noPrint" ng-hide="printMode">
          <a ng-click="editLogo()" href="#"><small>Bewerk logo</small></a> | 
          <a ng-click="removeLogo()" id="remove_logo" href="#"><small>Verwijder logo</small></a>
        </div>
      </td>
    </tr>
  </table>
  <table class="table">
    <tr>
      <td>
        <div class="infos">
          <div><strong><input type="text" ng-model="invoice.customer_info.name"/></strong></div>
          <div><input type="text" ng-model="invoice.customer_info.web_link"/></div>
          <div><input type="text" ng-model="invoice.customer_info.address1"/></div>
          <div><input type="text" ng-model="invoice.customer_info.address2"/></div>
          <div><input type="text" ng-model="invoice.customer_info.postal"/></div>
        </div>
      </td>
      <td align="right">
        <div class="align-right">
          <div><strong><input type="text" ng-model="invoice.company_info.name"/></strong></div>
          <div><input type="text" ng-model="invoice.company_info.web_link"/></div>
          <div><input type="text" ng-model="invoice.company_info.address1"/></div>
          <div><input type="text" ng-model="invoice.company_info.address2"/></div>
          <div><input type="text" ng-model="invoice.company_info.postal"/></div>
          <div><input type="text" ng-model="invoice.company_info.coc"/></div>
          <div><input type="text" ng-model="invoice.company_info.irs"/></div>
          
        </div>
      </td>
    </tr>
  </table>
  <table class="table table-striped" align="center" >
      <tr>
          <th></th>
          <th>Omschrijving</th>
          <th>Aantal</th>
          <th>Tarief</th>
          <th style="text-align:right;">Totaal</th>

      </tr>
      <tr ng:repeat="item in invoice.items" style="display: none" jq:animate="dropdown;250">
          <td><a href ng-hide="printMode" ng-click="removeItem(item)" class="btn btn-danger">&#x2718;</a></td>
          <td><input ng:model="item.description" placeholder="Omschrijving"></td>
          <td><input ng:model="item.qty" style="text-align:center;" value="1" size="4" ng:required ng:validate="integer" placeholder="aantal"></td>
          <td><input ng:model="item.cost" style="text-align:center;" value="70" ng:required ng:validate="number" size="6" placeholder="kosten"></td>
          <td align="right">{{item.cost * item.qty | currency: "&euro;"}}</td>

      </tr>
      <tr ng-hide="printMode">
          <td colspan="5"><a class="btn btn-primary" href ng:click="addItem()" >&#x2BD3; Regel Invoegen</a></td>
      </tr>
      <tr>
          <td colspan="4" align="right">
            Subtotaal
          </td>
          <td align="right">
            {{invoice_sub_total() | currency: "&euro;"}}
          </td>
      </tr>
      <tr>
          <td colspan="4" align="right">
            BTW %: <input ng:model="invoice.tax" ng:validate="number" style="width:43px;text-align:right;">
          </td>
          <td align="right">
            {{calculate_tax() | currency: "&euro;"}}
          </td>
      </tr>
      <tr>
          <td colspan="4" align="right">
            Totaal:
          </td>
          <td align="right">
            {{calculate_grand_total() | currency: "&euro;"}}
          </td>
      </tr>
  </table>
  
  
  <div class="noPrint">
    <a href="#" class="btn btn-primary" ng-show="printMode" ng-click="printInfo()">Afdrukken</a>
    <a href="#" class="btn btn-primary" ng-click="clearLocalStorage()">&#x26D4; Wissen</a>
    <a href="#" class="btn btn-primary" ng-hide="printMode" ng-click="printMode = true;">🔍 Afdrukweergave</a>
    <a href="#" class="btn btn-primary" ng-show="printMode" ng-click="printMode = false;">⥒ Terug naar schermweergave</a>
  </div>
</div>

<div class="copy">
  Gelieve deze rekening binnen 21 dagen van dagtekening te voldoen op bankrekening NL03 RABO 0152 0388 68 t.n.v. R. Jentzema, Tilburg.
  <br />
  Solobit staat geregistreerd bij de Kamer van Koophandel te Tilburg onder KvK nummer 57191557. Het BTW nummer is NL140168102B01.
</div>

<div ng-hide="printMode" class="copy noPrint">
  Oorspronkelijk werk door 
  <a href="http://jasdeep.ca/?utm_source=angular_invoicing">Jasdeep Singh</a> &amp;
  <a href="http://github.com/manpreetrules">Manpreet Singh</a>
  Gemaakt met
  <span class="love">&#9829;</span> in Toronto door
  <a href="http://metawarelabs.com/?utm_source=angular_invoicing">Metaware Labs Inc.</a>
</div>
</body>
</html>
